<div class="list-group">
  <ul>
    <% posts1.each do |post1| %>
      <li href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h6 class="mb-1"><%= post1.title %></h6>
          <small class="text-muted">posted by "<%= post1.user.name %>"</small>
        </div>
        <p class="mb-1"><%= post1.content %></p>
        <small class="text-muted">#<%= post1.small_genre.big_genre.big_genre %>  #<%= post1.small_genre.small_genre %></small>
        <div>
          <%= render "favorites/like_button", post: post1 %>
          <% if current_user == post1.user %>
            <%= link_to "編集", edit_post_path(post1), class: "btn btn-link btn-sm" %>
            <%= link_to "削除", post1, method: :delete, data: { confirm: "本当に削除してもよろしいですか?" }, class: "btn btn-link btn-sm" %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
  <div style="margin: 0 auto;">
    <%= paginate posts1 %>
  </div>
</div>
