<div class="list-group">
  <% if posts.any? %>  
    <ul>
      <% posts.each do |post| %>
        <li class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h6 class="mb-1" style="font-weight: bold;"><%= post.title %></h6>
            <small class="text-muted">posted by "<%= post.user.name %>"</small>
          </div>
          <p class="mb-1" style="word-wrap: break-word;"><%= post.content %></p>
          <small class="text-muted">#<%= post.small_genre.big_genre.big_genre %>  #<%= post.small_genre.small_genre %></small>
          <div>
            <%= render "favorites/like_button", post: post %>
            <% if current_user == post.user %>
              <%= link_to "編集", edit_post_path(post), class: "btn btn-link btn-sm" %>
              <%= link_to "削除", post, method: :delete, data: { confirm: "本当に削除してもよろしいですか?" }, class: "btn btn-link btn-sm" %>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <ul>
      <li class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h6 class="mb-1" style="font-weight: bold;"></h6>
          <small class="text-muted"></small>
        </div>
        <p class="mb-1" style="word-wrap: break-word;">投稿がありません</p>
        <small class="text-muted"></small>
      </li>
    </ul>
  <% end %>
</div>