
<% diet = SmallGenre.where(big_genre_id: 2).pluck(:id) %>
<% posts2 = posts.where(small_genre_id: diet) %>


<div class="list-group">
  <ul>
    <% posts2.each do |post2| %>
      <li href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><%= post2.title %></h5>
          <small class="text-muted"><%= post2.user.name %></small>
        </div>
        <p class="mb-1"><%= post2.content %></p>
        <small class="text-muted">#<%= post2.small_genre.big_genre.big_genre %>  #<%= post2.small_genre.small_genre %></small>
        <div>
          <% if current_user == post2.user %>
            <%= link_to "編集", edit_post_path(post2), class: "btn btn-secondary btn-sm" %>
            <%= link_to "削除", post2, method: :delete, data: { confirm: "本当に削除してもよろしいですか?" }, class: "btn btn-danger btn-sm" %>
          <% end %>
        </div>        
      </li>
    <% end %>
  </ul>
  
  <%= paginate posts2 %>
</div>
