<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @post, local: true) do |f| %>

      <%= render "layouts/error_messages", model: f.object %>

      <div class="form-group">
        <%= f.label :small_genre_id, "ジャンル" %>
        <%= f.select :small_genre_id, [
            ["#筋肉をつける #腕", 1],
            ["#筋肉をつける #胸", 2],
            ["#筋肉をつける #お腹", 3],
            ["#筋肉をつける #背中", 4],
            ["#筋肉をつける #下半身", 5],
            ["#筋肉をつける #体幹", 6],
            ["#痩せたい #ランニング", 7],
            ["#痩せたい #ランニング以外", 8],
            ["#食事面 #プロテイン", 9],
            ["#食事面 #おすすめコンビニ飯", 10],
            ["#食事面 #かんたん自炊", 11],
            ["#食事面 #食べてはいけないもの", 12]
            ],
            {},
            {class: 'form-control'}
        %>
      </div>      
  
      <div class="form-group">
        <%= f.label :title, "タイトル" %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
  
      <div class="form-group">
        <%= f.label :content, "方法・コツ" %>
        <%= f.text_area :content, size: "20x7", class: "form-control" %>
      </div>
  
      <%= f.submit "投稿", class: "btn btn-secondary btn-lg btn-block" %>

    <% end %>

  </div>
</div>