<h1 class="text-center" style="font-weight: bold;">投稿一覧</h1>


<h3 style="font-weight: bold;">筋肉をつける</h3>
  <p class="mt-2 text-left">※もっと見たい方は<%= link_to "こちら", posts_muscle_path %></p>
  <%= render "posts/posts", posts: @posts1 %>

<h3 style="font-weight: bold;">痩せたい</h3>
  <p class="mt-2 text-left">※もっと見たい方は<%= link_to "こちら", posts_diet_path %></p>
  <%= render "posts/posts", posts: @posts2 %>

<h3 style="font-weight: bold;">食事面</h3>
  <p class="mt-2 text-left">※もっと見たい方は<%= link_to "こちら", posts_food_path %></p>
  <%= render "posts/posts", posts: @posts3 %>